<template>
<header class="masthead text-center text-white">
    <div class="masthead-content">
    <div class="container text-center">

     </div>
    </div>
</header>
</template>
<style scoped>
h1 {
font-size: 28px;
font-weight: bolder;
color: rgb(27, 27, 29);
}
.masthead-content {
margin-top: 50px;
margin-bottom: 50px;
}
.weather-container {
    background-color:rgb(27, 27, 29);
}
</style>
